name: CI
permissions: read-all

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  UV_LOCKED: 1

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        python: ["3.10", "3,11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: astral-sh/setup-uv@v7.1.4
        with:
          python-version: ${{ matrix.python }}

      - name: django-admin check
        run: uv run testmanage.py check

      - name: django-admin test
        run: uv run testmanage.py test
